if BOARD_MT7621_RFB || BOARD_MT7621_NOR_TEMPLATE || \
	BOARD_ASUS_RTAC1200GU || BOARD_DLINK_DIR878A1 || \
	BOARD_LINKSURE_SG5 || BOARD_MERCURY_MAC2600R || \
	BOARD_SKSPRUCE_WIA330010 || BOARD_ZTE_E8820V2

config SYS_VENDOR
	default "ralink"

config SYS_BOARD
	default "mt7621_rfb"

config SYS_CONFIG_NAME
	default "mt7621"

config DEFAULT_NOR_KERNEL_OFFSET
	hex "Default kernel offset in the NOR"
	default 0x50000
	help
	  This is the fallback value if mtkboardboot command can't
	  retrive the kernel offset from mtdparts.

source "board/ralink/common/Kconfig"

endif
