// SPDX-License-Identifier: GPL-2.0+

/dts-v1/;
#include "mt7621.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	model = "ASUS RT-AC1200GU";
	compatible = "asus,rt-ac1200gu", "mediatek,mt7621-soc";

	aliases {
		spi0 = &spi;
	};

	chosen {
		stdout-path = &uartlite0;
	};

	config {
		reset-button = "reset";
		wps-button = "wps";
		status1-led = "blue:power";
	};

	keys {
		compatible = "gpio-keys";

		reset {
			label = "reset";
			gpios = <&gpio 41 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_RESTART>;
		};

		wps {
			label = "wps";
			gpios = <&gpio 43 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_WPS_BUTTON>;
		};
	};

	leds {
		compatible = "gpio-leds";

		led-power {
			label = "blue:power";
			gpios = <&gpio 48 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};

		led-usb {
			label = "blue:usb";
			gpios = <&gpio 47 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
	};
};

&eth {
	status = "okay";
};

&gpio {
	status = "okay";
};

&i2c {
	gpios = <&gpio 3 1>, /* PIN3 as SDA */
		<&gpio 4 1>; /* PIN4 as CLK */
};

&spi {
	status = "okay";

	spi-max-frequency = <45000000>;

	spi-flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "spi-flash";
		spi-max-frequency = <45000000>;
		reg = <0>;
	};
};

&state_default {
	/delete-node/ rgmii2-gpio_pins;
	/delete-node/ spi-nand_pins;
	/delete-node/ sdhci-nand_pins;
};

&uartlite0 {
	status = "okay";
};

&xhci {
	status = "okay";
};
