// SPDX-License-Identifier: GPL-2.0+

/dts-v1/;
#include "mt7621.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	model = "SKSpruce WIA3300-10";
	compatible = "skspruce,wia3300-10", "mediatek,mt7621-soc";

	aliases {
		spi0 = &spi;
	};

	chosen {
		stdout-path = &uartlite0;
	};

	config {
		reset-button = "reset";
		status1-led = "green:status";
		status2-led = "red:status";
	};

	keys {
		compatible = "gpio-keys";

		reset {
			label = "reset";
			gpios = <&gpio 18 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_RESTART>;
		};
	};

	leds {
		compatible = "gpio-leds";

		led-status_green {
			label = "green:status";
			gpios = <&gpio 24 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};

		led-status_red {
			label = "red:status";
			gpios = <&gpio 23 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led-wlan_blue {
			label = "blue:wlan";
			gpios = <&gpio 22 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led-wlan_green {
			label = "green:wlan";
			gpios = <&gpio 4 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led-wan {
			label = "green:wan";
			gpios = <&gpio 3 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
	};
};

&eth {
	status = "okay";
};

&gpio {
	status = "okay";
};

&i2c {
	gpios = <&gpio 3 1>, /* PIN3 as SDA */
		<&gpio 4 1>; /* PIN4 as CLK */
};

&spi {
	status = "okay";

	spi-max-frequency = <45000000>;

	spi-flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "spi-flash";
		spi-max-frequency = <45000000>;
		reg = <0>;
	};
};

&state_default {
	/delete-node/ spi-nand_pins;
	/delete-node/ sdhci-nand_pins;
	/delete-node/ rgmii2_pins;
};

&uartlite0 {
	status = "okay";
};

&xhci {
	status = "okay";
};
